bode {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
};

.container {
    width: 800;
    max-width: 800px;
    margin: 50px auto;
    background-color: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


button {
    padding: 10px;
    margin-top: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}


buuton:hover {
    background: color blue;
}


resumeOutput {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


resumeOutput h2 {
    color: #2c3e50;
}
